@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: theme('fontFamily.display');
  }
}

@layer utilities {
  .glass-effect {
    background: rgba(17, 23, 34, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
